@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: center center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url('./minion.webp ');  
}

#heading a {
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 2.75rem;
    color: #000;
  }
  

#heading {
    margin: auto;
    font-weight: 400;
    text-align: center;
    background-color: #f0f366;
    padding: 1.5rem 2em;
    margin-bottom: 1rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    color: rgb(98, 95, 151);
}

#heading p {
    text-align: start;
    font-size: 1.5rem;
    margin-top: 0;
    padding: 0 0;
}

#heading h1 {
    font-size: 2rem;
}

h1 img {
    position: absolute ;
    top: 48px;
   
}

.btn {
    background: #181313;
    margin-top: 1rem;
    background-color: #f0f366;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 5px 10px 8px rgb(44, 43, 43);
    border: none;
    font-size: 1.3em;
    color: rgb(0, 2, 145);
    cursor: pointer;
}

.btn:hover {
    background-color: #000000;
    color: #fff;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div,
textarea {
    display: block;
  height: 12vh;
  max-width: 80%;
  width: 500px;
  margin: auto;
  padding: 1.5rem;
    margin-top: 1%;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  background-color: #fff;
}

p {
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0 1rem;
    text-align: center;
    color: #fff;
}

footer {
    background-color: #f0f366;
    padding: 2rem 0rem;
    margin-top: 3rem;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    box-shadow: 0px 10px 5px rgb(44, 43, 43), 
                0px -10px 5px rgb(44, 43, 43);
    color: rgb(98, 95, 151);
}

@media screen and (max-width: 700px) {
    .footer-list {
        width: 100%;
        padding-left: 1rem;
    }
}